# Firebase Config
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=

# Google OAuth (Manual Flow for Iframe)
VITE_GOOGLE_CLIENT_ID=502250004905-t6mth5ams9ku7alqb2l9c29jb2jjrs7p.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# App URL (Provided by AI Studio)
APP_URL=
